@layer base, components, utilities;

@layer base {
  :root {
    --arena-font-head: 'Oswald', sans-serif;
    --arena-font-body: 'Barlow', sans-serif;

    --arena-c-hardware: #003791;
    --arena-c-valorant: #129e11;
    --arena-c-freefire: #e40b20;
    --arena-c-ultimas: #f42c1a;
    --arena-c-dark: #1b1b1b;

    --arena-accent: #f42c1a;
  }

  body { margin: 0; font-family: var(--arena-font-body); }

  h1, h2, h3, h4, h5, h6 { font-family: var(--arena-font-head); }
}
